@import 'node_modules/sass-material-colors/sass/sass-material-colors';
@import 'src/style/heart';

body {
  margin: 0;
}

.header-bar {
  align-items: center;
  background: material-color('red', '100');
  display: flex;
  height: 37px;
  justify-content: center;

  .header-button {
    margin: 0 7px;
  }

  .header-button-label {
    font-weight: normal;
  }

  .header-button-label-selected {
    font-weight: bold;
  }
}


.home {
  background-color: material-color('red', '100');
  height: 100%;

  .header {
    @include heart(350px, material-color('cyan', '50'));
    align-self: flex-end;
    display: flex;
    height: 100%;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: -400px;
    width: 20vw;

    .contents {
      color: material-color('red', '200');
      font-size: 36px;
      margin-left: 80px;
      margin-right: -100px;
      margin-top: 60px;
      text-align: center;
      width: 200px;
      z-index: 2;
    }

    .content-less-em {
      font-family: 'Pacifico', cursive;
      font-size: 24px;
    }

    .content-more-em {
      font-family: 'Baloo', cursive;
      font-size: 72px;
      font-style: bold;
    }
  }

  .body {
    display: flex;
    justify-content: space-between;
  }

  .wallpaper {
    height: calc(100vh - 40px);
    width: 110vw;
  }
}
