<!DOCTYPE html>
<html lang="en">
  <style>
    body {
      font-family: 'Baloo', cursive;
    }
  </style>
  <head>
    <meta id="meta" name="viewport"
          content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8">
    <title>Couply - JonBecca <3</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    <div id="accorde-root" class="accorde-root"></div>
  </body>
</html>
