<!DOCTYPE html>
<html lang="en">
  <head>
    <meta id="meta" name="viewport"
          content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8">
    <title>Accordé Guitar Ensemble</title>
    <link rel="shortcut icon" href="https://firebasestorage.googleapis.com/v0/b/accorde-site.appspot.com/o/assets%2Ffavicon.jpg?alt=media&token=a807b07e-3cc9-44eb-82d4-8c4e9472a529">
  </head>
  <body>
    <div id="accorde-root" class="accorde-root"></div>
  </body>
</html>
